﻿@model ROKUConnection.Models.RokuBox
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Your GETV Roku account is ready!</h1><br/><br/>
                <h2>Your Roku has been registered with GETV and your channel will be active soon!</h2><br/>
                <h3>Registration Code @Html.DisplayTextFor(m=>m.regCode) has been associated with ROKU device '@Html.DisplayTextFor(m=>m.deviceName)' </h3>
                @if (Model.allowDonations)
                {
                    <h3>You can now donate online using your Roku device(s). </h3>
                }
            </hgroup>
            <p>
                GETV Support: 555-1212  <br/>
                ROKU Support: 121-5555  <br/>
            </p>            
        </div>
    </section>
    
</div>
